.App {
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  margin-left: 25%;
  width: 50%;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  min-height: 500px;
  background-color: #1543;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50px;
  justify-content: space-between;
}

.modalFooterbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.relationAdder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfImage {
  width: 100px;
  height: 120px;
  margin: 10px 5px;
  /* margin-bottom: 150px; */
}

.imageContainerParent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgb(157, 196, 177);
  margin: 40px 15px;
  border-radius: 10px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  /* padding: 20px;
  background-color: rgb(157, 196, 177);
  margin-top: 40px;
  border-radius: 10px; */
}
h5 {
  color: #354c3c;
  font-weight: bold;
}

.relations {
  display: flex;
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgb(157, 196, 177);
  margin: 40px 15px;
  border-radius: 10px;
  min-height: 200px;
}
.separator {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.relation-text {
  background-color: #354c3c;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  font-size: 14px;
  margin: 10px auto;
}

.relation-arrow {
  margin: auto 5px;
}

@media only screen and (max-width: 500px) {
  .App {
    font-family: sans-serif;
    position: absolute;
    text-align: center;
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    min-height: 500px;
    background-color: #1543;
  }
  .imageContainerParent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgb(157, 196, 177);
    margin: 40px 0;
    border-radius: 10px;
  }
}
